*.m
*.c
*.mm

RangersAppLog/Classes/Core/*
!RangersAppLog/Classes/Core/Header
!RangersAppLog/Classes/Core/*.h

RangersAppLog/Classes/Log/*
!RangersAppLog/Classes/Log/*.h

RangersAppLog/Classes/Picker/*
!RangersAppLog/Classes/Picker/Header
!RangersAppLog/Classes/Picker/*.h

RangersAppLog/Classes/Unique/*
!RangersAppLog/Classes/Unique/Public
!RangersAppLog/Classes/Unique/*.h

RangersAppLog/Classes/UITracker/*
!RangersAppLog/Classes/UITracker/Header
!RangersAppLog/Classes/UITracker/*.h

!*.a
ios-arch-iphone
testSDKSpace

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

# cocoapods
Pods
Pods/

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.zip
Gemfile
Gemfile.lock
Podfile.lock
